In [ ]:
import pymysql

In [11]:
conn = pymysql.connect(
   host = 'localhost',
   user = 'root',
   passwd = '',
   db = 'test'
)

In [12]:
cursor = conn.cursor()

In [ ]:
nombre = 'Ana'
edad = 34
cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES(%s, %s)", (nombre, edad))
conn.commit()

In [13]:
personas = [ 
   ('Jorge', 45),
   ('Jimena', 31),
   ('Roberto', 25)
]
cursor.executemany("INSERT INTO persona (Nombre, Edad) VALUES(%s, %s)", personas)
conn.commit()
conn.close()